.App {
  text-align: center;
}

.pageNotFoundLabel {
  margin-top: 100px;
  padding: 66px 150px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Hubballi', cursive;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pencil {
  position: relative;
  font-size: 27px;
}

.pencil::before {
  font-family: FontAwesome;
  top: 0;
  left: -5px;
  padding-right: 9px;

  margin-left: 12px;
  cursor: pointer;
  content: '\f040';
}
.smallPencil {
  position: relative;
  font-size: 19px;
}

.smallPencil::before {
  font-family: FontAwesome;
  top: 0;
  left: -5px;
  padding-right: 9px;
  margin-left: 12px;
  cursor: pointer;
  content: '\f040';
}
input:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 1px solid #60c120 !important;
}
.columnHeadingInput {
  font-weight: bold !important;
  font-size: 1.75rem !important;
}
.columnHeading {
  font-size: 2rem;
}
.sendMessageInput {
  font-size: 1.25rem;
}
@media only screen and (max-width: 579px) {
  .columnHeadingInput {
    font-size: 1.3rem !important;
  }
  .columnHeading {
    font-size: 1.7rem;
  }
  .sendMessageInput {
    font-size: 1.1rem !important;
  }
  .pencil {
    font-size: 20px;
  }
  .smallPencil {
    font-size: 17px;
  }
}
