.toolbar {
  width: 100%;
  position: fixed;
  background-color: #60c120;
  box-shadow: 7px 6px lightgrey;
  left: 0;
  top: 0;
  z-index: 5;
}

.funRetrospectivesHeading {
  color: black;
  font-size: 3rem;
  font-family: 'League Gothic', sans-serif;
}

.retrospectiveInfoLabel {
  color: white;
  font-size: 1.5rem;
  font-family: 'Hubballi', cursive;
  padding: 1%;
}

.whiteText {
  color: white;
}
.usersConnectedBtn {
  margin-right: 10px;
}
.toolbarButtons {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  border-radius: 0.3rem !important;
}
@media only screen and (max-width: 500px) {
  .funRetrospectivesHeading {
    font-size: 2.5rem;
  }
  .toolbarButtons {
    padding: 0.6rem 0.1rem !important;
    font-size: 1rem !important;
    border-radius: 0.1rem !important;
  }
  .usersConnectedBtn {
    margin-right: 4px;
  }
}
